* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Flex', sans-serif;
        color: #ffff;
}

ul {
        list-style: none;
}

a {
        text-decoration: none;
}

img {
        max-width: 100%;
        display: block;
}

button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        font-family: 'Mohave', sans-serif;
}

html {
        background-color: #060608;
        font-size: 62.5%;
        /* = 10px */
}
