
.container {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7.2rem;
    display: flex;
    background-color: rgba(0, 4, 7, 0.90);
    backdrop-filter: blur(4px);
    z-index: 2023;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 4.7rem;
}

header nav a {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%;
    transition: color .3s ease;
}


header nav a:hover {
    color: #F55827;
} 


header button {
    border: 2px solid #2F2F3B;
    border-radius: 32px;
    padding: 0.95rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 150%;
    transition: all .3s ease;
}

header button:hover {
    background-color: #FFF;
    color: #101014;
    box-shadow: 0px 0px 0px 3px  rgba(255, 255, 255, 0.30);
}

.s-hero {
    position: relative;
    width: 100%;
    background-image: url('../img/assets-spider-man-2/bg-hero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 80rem;
    padding-top: 11.2rem;
    padding-bottom: 14.3rem;
}

.s-hero::after{
    content: "";
    width: 100%;
    height: 21.6rem;
    background: linear-gradient(180deg, #060608 0%, rgba(0, 4, 7, 0.00) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    transform: rotate(180deg);
}

.s-hero .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.s-hero .left {
    width: 100%;
    max-width: 62.2rem;
    animation: fadeLeft 1s forwards;
    -webkit-animation: fadeLeft 1s forwards;
}

.s-hero .left .plataform {
    display: flex;
    margin-bottom: 2.4rem;
}


.s-hero .left .plataform span {
    color: #C0C0CC;
    font-size: 1.2rem;
    line-height: 150%;
    /*18px*/
    background-color: #1B1B21;
    padding: 0.6rem 1.2rem;
    border-radius: 4px 0 0 4px;

}


.s-hero .left .plataform strong {
    color: #FFF;
    font-size: 1.2rem;
    line-height: 150%;
    background-color: #25252E;
    padding: 0.6rem 1.0rem;
    border-radius: 0px 4px 4px 0px;
    gap: 10px;
}

.s-hero .left h1 {
    color: #FFF;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.s-hero .left .discription {
    font-size:  1.8rem;
    line-height: 150%;
    margin-bottom: 4.8rem;
}

.s-hero .left .value h3 {
    color: #FFF;
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

.s-hero .left .value .btns {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-bottom: 7.2rem;
}

.s-hero .left .btns .addtocart {
    height: 5.6rem;
    padding: 0.95rem 4.0rem;;
    border-radius:  32px;
    font-size: 1.5rem;
    background-color: #F55827;
    
}

.s-hero  .addtocart:hover {
    background-color: #CF3302 ;
    box-shadow: 0px 0px 0px 3px rgba(245, 88, 39, 0.30) ;

}



.s-hero .left .btns .heart {
    height: 56px;
    width: 56px;
    border: 2px solid #2F2F3B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.s-hero .heart:hover {
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.30) ;

}

.s-hero .heart:hover img {
    filter: invert(1);
}

.s-hero .left ul {
    margin-bottom: 1.7rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.s-hero .left ul:last-child {
    margin-bottom: 0;
}

.s-hero .left ul:last-child li:before {
    display: none !important;
}

.s-hero .left ul li {
    display: flex;
    align-items: center;
    gap: 1.6rem;

}

.s-hero .left ul li:last-child::before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #C0C0CC;
    border-radius: 50%;
    display: block;

}

.s-hero .left ul p {
    color: #F2F2FF;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}

.s-hero .right {
    width: 100%;
    max-width: 9.5rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.6rem;
    margin-top: 45px;
    animation: fadeRight 1s forwards;
    -webkit-animation: fadeRight 1s forwards;
}


.s-hero .right span {
    border-radius: 6px;
    background-color: #F09104;
    display: block;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 150%;
} 

.s-hero .right p {
    color: #E1E1E1;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 150%;
} 


.s-videos {
    position: relative;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 6.4rem;
    overflow: hidden;
}

.s-videos::before {
    content: "";
    width: 334px;
    height: 344px;
    background: linear-gradient(270deg, #060608 -3.29%, rgba(6, 6, 8, 0.00) 64.25%);
    position: absolute;
    top: 8.9rem;
    right: 0;
    z-index: 5;
}

.s-videos .container {
    position: relative;
}

.s-videos .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3.2rem;
}

.s-videos .top .swiper-pagination {
    position: relative;
    width: auto;
    bottom: 0;
}

.s-videos .top .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 0;
    background-color: #2F2F3B;
    opacity: 1;
}

.s-videos .top .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #FFF;
}

.s-videos .top h2 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.s-videos .card-video {
    display: block;
    width: 100%;
    max-width: 38.3rem;
}

.s-videos .card-video .thumbnail {
    position: relative;
    width: 100%;
    height: 21.6rem;
    margin-bottom: 2.2rem;
}


.s-videos .card-video .thumbnail .thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.s-videos .card-video .thumbnail::before {
    content: "";
    background: url('../img/assets-spider-man-2/image-hover.svg') no-repeat center center ;
    width: 39.1rem;
    height: 22.2rem;
    position: absolute;
    top: -3px;
    left: -5px;    
    opacity: 0;
    transition: opacity .3s ease;
}

.s-videos .card-video:hover .thumbnail::before {
    opacity: 1;
}

.s-videos .card-video .thumbnail .play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22.5px;
    margin-left: -22px;
    opacity: 0;
    transition: opacity .3s ease;
}

.s-videos .card-video:hover .thumbnail .play {
    opacity: 1;
}


.s-videos .card-video span {
    color: #C0C0CC;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

}

.s-videos .btn {
    position: absolute;
    top: 15rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: opacity .3s ease;
}

.s-videos .btn:hover {
    filter: invert(1) contrast(2);
}

.s-videos .btn.swiper-button-disabled {
    opacity: 0;
}

.s-videos .btn-prev {
    left: 0;
    transform: rotate(180deg);

}

.s-videos .btn-next {
    right: 0;
}

.s-vilao {
    position: relative;
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: changeBG 15s infinite linear;
    -webkit-animation: changeBG 15s infinite linear;
}

.s-vilao:before{
    content: "";
    width: 100%;
    height: 21.6rem;
    background: linear-gradient(180deg, #060608 0%, rgba(0, 4, 7, 0.00) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}

.s-vilao:after{
    content: "";
    width: 100%;
    height: 21.6rem;
    background: linear-gradient(180deg, #060608 0%, rgba(0, 4, 7, 0.00) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    transform: rotate(180deg);
}


.s-vilao h2 {
    text-align: center;
    font-size: 4.8rem;;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.s-vilao p {
    color: #CECED9;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%; 
    margin-bottom: 7.2rem;
} 

footer {
    position: relative;
    padding-top: 9.6rem;
    padding-bottom: 7.2rem;
}

footer::before {
    content: "";
    width: 100%;
    height: 1.6rem;
    background: url(../img/assets-spider-man-2/divider.svg) no-repeat center center;
    position: absolute;
    top: 0.95rem;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer .left {
    width: 100%;
    max-width: 66.8rem;
}

footer .left strong {
    color: #FFF;
    font-family: 'Mohave', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
    display: block;
}

footer .left p {
    color: #CECED9;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

footer .right {
    display: flex;
    align-items: center;
    gap: 24px;
}


footer .right span {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

@keyframes changeBG {
    0% {
        background-image: url(../img/assets-spider-man-2/background/bg01.jpg);
    }

    10% {
        background-image: url(../img/assets-spider-man-2/background/bg02.jpg);
    }

    20% {
        background-image: url(../img/assets-spider-man-2/background/bg03.jpg);
    }

    30% {
        background-image: url(../img/assets-spider-man-2/background/bg04.jpg);
    }

    40% {
        background-image: url(../img/assets-spider-man-2/background/bg05.jpg);
    }

    50% {
        background-image: url(../img/assets-spider-man-2/background/bg06.jpg);
    }

    60% {
        background-image: url(../img/assets-spider-man-2/background/bg07.jpg);
    }

    70% {
        background-image: url(../img/assets-spider-man-2/background/bg08.jpg);
    }

    80% {
        background-image: url(../img/assets-spider-man-2/background/bg09.jpg);
    }

    90% {
        background-image: url(../img/assets-spider-man-2/background/bg10.jpg);
    }

    100% {
        background-image: url(../img/assets-spider-man-2/background/bg01.jpg);
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translate(-20px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translate(20px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}